* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

@font-face {
    font-family: "lato-light";
    src: url("../fonts/lato/Lato-Light.woff2") format("woff2"),
    url("../fonts/lato/Lato-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "lato-regular";
    src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"),
    url("../fonts/lato/Lato-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "lato-regular-italic";
    src: url("../fonts/lato/Lato-Italic.woff2") format("woff2"),
    url("../fonts/lato/Lato-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "lato-bold";
    src: url("../fonts/lato/Lato-Bold.woff2") format("woff2"),
    url("../fonts/lato/Lato-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "lato-black";
    src: url("../fonts/lato/Lato-Black.woff2") format("woff2"),
    url("../fonts/lato/Lato-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

.visibility-hidden {
    text-align: center;
    visibility: hidden;
}

body {
    font-family: lato-light, sans-serif;
    font-size: 14px;
    background-color: #e8e8e8;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1600px;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.page-header {
    position: relative;
}

.page-header-wrap {
    display: flex;
    align-items: center;
    padding: 18px 230px;
    background-color: #222222;
}

.page-header-logo {
    margin-right: 60px;
}

.page-header-search-box {
    position: relative;
    display: flex;
    min-height: 38px;
}

.page-header-search-control {
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
    cursor: pointer;
}

.page-header-search-input {
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 50px;
    width: 0;
    opacity: 0;
    transition: width .4s ease-in, opacity .1s ease-in, padding .4s ease-in;
}

.page-header-search-control svg {
    fill: #ffffff;
}

.page-header-search-control svg:hover {
    fill: #8f858f;
}

.page-header-search-input:focus {
    width: 250px;
    padding: 0 10px;
    opacity: 1;
}

.page-header-btn-wrap {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.page-header-btn {
    display: flex;
    margin-right: 30px;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.page-header-btn:last-child {
    margin-right: 0;
}

.cart-btn {
    position: relative;
}

.cart-btn:after {
    content: attr(data-count);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 12px;
    color: #ffffff;
    background-color: #f16d7f;
    transform: translateX(50%) translateY(-35%);
}

.menu-btn-control {
    position: absolute;
    opacity: 0;
}

.menu-btn-label {
    display: flex;
    align-items: center;
    height: 30px;
    margin-right: 40px;
    cursor: pointer;
}

.page-header-btn-burger {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #e8e8e8;
}

.page-header-btn-burger:before,
.page-header-btn-burger:after {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #e8e8e8;
    transition: transform .3s linear, opacity .2s linear;
}

.page-header-btn-burger:before {
    bottom: 10px;
}

.page-header-btn-burger:after {
    top: 10px;
}

.menu-btn-label:hover .page-header-btn-burger,
.menu-btn-label:hover .page-header-btn-burger:before,
.menu-btn-label:hover .page-header-btn-burger:after {
    background-color: #8f858f;
}

.menu-btn-label:active .page-header-btn-burger,
.menu-btn-label:active .page-header-btn-burger:before,
.menu-btn-label:active .page-header-btn-burger:after {
    background-color: #e8e8e8;
}

.page-header-btn-icon {
    fill: #e8e8e8;
    cursor: pointer;
}

.page-header-btn:hover .page-header-btn-icon {
    fill: #8f858f;
}

.page-header-btn:active .page-header-btn-icon {
    fill: #e8e8e8;
}

.page-header-btn:active {
    outline: none;
}

.nav-menu {
    box-sizing: border-box;
    padding: 16px 16px 16px 34px;
    position: absolute;
    right: -0;
    top: 100%;
    width: 232px;
    min-height: 764px;
    background-color: #ffffff;
    z-index: 3;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform .3s ease-in, box-shadow .6s ease, visibility .9s;
}

.blackout-banner:before {
    content: "";
    display: block;
    width: 1600px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    transition: background-color .3s linear;
}

.nav-menu-close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.nav-menu-close svg {
    fill: #6f6e6e;
    cursor: pointer;
}

.nav-menu-close svg:hover {
    fill: #f16d7f;
}

.nav-menu-close svg:active {
    fill: #6f6e6e;
}

.nav-menu-title {
    font-family: lato-bold, sans-serif;
    text-transform: uppercase;
}

.nav-menu-list {
    list-style: none;
    font-family: lato-regular, sans-serif;
    color: #f16d7f;
}

.nav-menu-list-item {
    margin-top: 20px;
    text-transform: uppercase;
}

.nav-menu-list-item ul {
    list-style: none;
    padding-left: 20px;
}

.nav-menu-list-item ul li {
    margin: 8px 0;
}

.nav-menu-list-item ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #6f6e6e;
}

.page-header-banner {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f1e4e6;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
}

.page-header-banner-img {
    margin-right: 60px;
}

.page-header-banner-text {
    border-left: 12px solid #f16d7f;
    padding-left: 16px;
}

.page-header-banner-title {
    display: block;
    font-family: lato-black, sans-serif;
    font-size: 48px;
    color: #222222;
    text-transform: uppercase;
}

.page-header-banner-subtitle {
    font-family: lato-bold, sans-serif;
    font-size: 32px;
    text-transform: uppercase;
}

.page-header-banner-subtitle span {
    color: #f16d7f;
}

.menu-btn-control:checked ~ .nav-menu {
    transform: translateX(0);
    box-shadow: -15px 15px 15px -10px rgba(0,0,0,.5);
    visibility: visible;
}

.menu-btn-control:checked ~ .nav-menu:before {
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-btn-control:checked ~ .menu-btn-label .page-header-btn-burger {
    background-color: transparent;
}

.menu-btn-control:checked ~ .menu-btn-label .page-header-btn-burger:before {
    transform: rotate(45deg) translateY(10px) translateX(4px);
    background-color: #8f858f;
}

.menu-btn-control:checked ~ .menu-btn-label .page-header-btn-burger:after {
    transform: rotate(-45deg) translateY(-10px) translateX(4px);
    background-color: #8f858f;
}

.page-main {
    background-color: #ffffff;
    flex: 1 0 auto;
}

.categories {
    padding: 40px 230px 0 230px;
}

.categories-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-list-item {
    flex-basis: 360px;
    min-height: 260px;
    margin-bottom: 30px;

}

.categories-list-item:last-child {
    flex-basis: 100%;
    min-height: 180px;
    margin-bottom: 0;
}

.categories-list-item-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-blend-mode: darken;
    text-decoration: none;
    box-shadow: 0 5px 10px 0 rgba(33, 22, 22, 0.7);
}

.categories-list-item-link-woman {
    background-image: url("../img/categories-woman.jpg");
}

.categories-list-item-link-man {
    background-image: url("../img/categories-man.jpg");
}

.categories-list-item-link-kids {
    background-image: url("../img/categories-kids.jpg");
}

.categories-list-item-link-accessories {
    background-image: url("../img/categories-accessories.jpg");
}

.categories-list-item-subtitle {
    font-family: lato-regular, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

.categories-list-item-title {
    font-family: lato-bold, sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #f16d7f;
    text-transform: uppercase;
}

.products {
    padding: 95px 0;
}

.products-title,
.products-subtitle {
    display: block;
    text-align: center;
    font-family: lato-regular, sans-serif;
    font-weight: 400;
}

.products-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: capitalize;
    color: #222222;
}

.products-subtitle {
    margin-bottom: 48px;
    line-height: 16px;
    color: #9f9f9f;
}

.products-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
    padding: 0 230px;
}

.products-item {
    position: relative;
    display: flex;
    flex-basis: 360px;
    min-height: 580px;
    flex-direction: column;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,.2);
}

.products-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.products-item-link {
    text-decoration: none;
    height: 100%;
}

.products-item-photo {
    display: flex;
    transition: all .5s ease;
}

.products-item-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 28px 20px 16px;
}

.products-item-title,
.products-item-text,
.products-item-price {
    display: block;
}

.products-item-title {
    margin-bottom: 12px;
    font-family: lato-regular, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #000000;
    text-transform: uppercase;
}

.products-item-text {
    margin-bottom: 18px;
    line-height: 17px;
    color: #5d5d5d;
}

.products-item-price {
    font-family: lato-regular, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #f16d7f;
}

.products-item-button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 190px;
    left: 50%;
    width: 140px;
    padding: 12px;
    background-color: transparent;
    opacity: 0;
    border: 1px solid #ffffff;
    outline: none;
    font-family: lato-regular, sans-serif;
    color: #ffffff;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;
    transition: opacity .2s ease-out;
}

.products-item-link:hover .products-item-photo {
    filter: brightness(45%);
}

.products-item-link:hover ~ .products-item-button,
.products-item-button:hover {
    opacity: 1;
}

.products-item-button svg {
    margin-right: 10px;
    fill: #ffffff;
    pointer-events: none;
}

.products-item-button:hover svg {
    fill: #f16d7f;
}

.products-item-button:active {
    color: #f16d7f;
}

.products-button-wrap {
    display: flex;
    justify-content: center;
}

.products-button {
    width: 212px;
    padding: 15px;
    font-family: lato-regular, sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #f26376;
    text-transform: capitalize;
    border: none;
    outline: 1px solid #ff6A6a;
    background-color: transparent;
    cursor: pointer;
}

.products-button:hover {
    background-color: #f16d7f;
    color: #ffffff;
}

.products-button:active {
    background-color: transparent;
    color: #f26376;
}

.features {
    background-color: #222224;
}

.features-wrap {
    display: flex;
    justify-content: space-between;
    padding: 80px 230px 105px 230px;
}

.features-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 360px;
    min-height: 134px;
}

.features-item svg {
    fill: #f16d7f;
}

.features-item-title {
    font-family: lato-regular, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #FBFBFB;
}

.features-item-text {
    padding: 0 25px;
    line-height: 17px;
    text-align: center;
    color: #fbfbfb;
}

.page-footer {
    background-color: #222224;
    flex: 0 0 auto;
}

.page-footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 230px;
}

.subscribe {
    display: flex;
    align-items: center;
    min-height: 448px;
    padding: 96px 0;
    box-sizing: border-box;
    background-image: url("../img/subscribe-bg.jpg");
    background-size: cover;
    background-position: left;
}

.subscribe-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 230px;
}

.subscribe-call {
    padding: 0 10px;
    display: flex;
    flex-basis: 360px;
    min-height: 225px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.subscribe-call-avatar {
    width: 96px;
    height: 96px;
    background-image: url("../img/subscribe-avatar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 50%;
}

.subscribe-call-text {
    font-family: lato-regular, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #222224;
    text-align: center;
}

.subscribe-call-text span {
    font-family: lato-regular-italic, sans-serif;
}

.subscribe-action {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 558px;
    min-height: 142px;
}

.subscribe-action-title {
    font-family: lato-bold, sans-serif;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    color: #222224;
    text-transform: uppercase;
}

.subscribe-action-subtitle {
    margin-bottom: 32px;
    font-family: lato-regular, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #222224;
    text-transform: uppercase;
}

.subscribe-action-form {
    display: flex;
    font-family: lato-regular, sans-serif;

}

.subscribe-action-email {
    width: 256px;
    min-height: 50px;
    padding: 0 22px;
    border: none;
    outline: none;
    color: #222224;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #e1e1e1;
}

.subscribe-action-button {
    min-width: 100px;
    padding: 0 10px;
    border: none;
    outline: none;
    color: #ffffff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #f16d7f;
    cursor: pointer;
}

.subscribe-action-button:hover {
    background-color: #f15d7f;
}

.subscribe-action-button:active {
    background-color: #f16d7f;
}

.subscribe-action-email:focus::placeholder {
    color: #b8a3c4;
}

.page-footer-copyright {
    font-family: lato-regular, sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #fbfbfb;
}

.page-footer-social-list {
    display: flex;
    list-style: none;
}

.page-footer-social-list-item {
    margin-left: 8px;
}

.page-footer-social-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
}

.page-footer-social-list-item-link:hover {
    color: #ffffff;
    background-color: #f16d7f;
}

.page-footer-social-list-item-link:active {
    color: #000000;
    background-color: #ffffff;
}

/* breadcrumbs */

.breadcrumbs {
    background-color: #f8f3f4;
}

.breadcrumbs-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 230px;
}

.breadcrumbs-title {
    font-family: lato-regular, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
    text-transform: uppercase;
}

.breadcrumbs-nav-list {
    display: flex;
    list-style: none;
}

.breadcrumbs-nav-list-item-link {
    color: #636363;
    text-decoration: none;
    text-transform: uppercase;
}

.breadcrumbs-nav-list-item-link.active {
    font-family: lato-bold, sans-serif;
    font-weight: 700;
    color: #f16d7f;
}

/* products filter */

.products.padding-catalog {
    padding-top: 50px;
}

.products-filter {
    display: flex;
    margin-bottom: 65px;
    padding: 0 230px;
}

.products-filter-group-menu {
    position: relative;
    width: 90px;
    margin-right: 290px;
    border: none;
}

.products-filter-group-menu-title {
    position: absolute;
    top: 5px;
    left: 16px;
    font-family: lato-bold, sans-serif;
    color: #000000;
    text-transform: uppercase;
    z-index: 12;
}

.products-filter-group-menu-title svg {
    margin-left: 10px;
    fill: #000000;
}

.products-filter-group-menu:hover .products-filter-group-menu-title {
    color: #ef5b70;
}

.products-filter-group-menu:hover .products-filter-group-menu-title svg {
    fill: #ef5b70;
}

.products-filter-group-menu-list {
    position: absolute;
    top: -5px;
    left: 0;
    display: none;
    width: 360px;
    padding: 56px 16px 12px 16px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    list-style: none;
    z-index: 11;
}

.products-filter-group-menu:hover .products-filter-group-menu-list,
.products-filter-group-menu-list:hover {
    display: block;
}

.products-filter-group-menu-list-item:not(:last-child) {
    margin-bottom: 18px;
}

.products-filter-group-menu-list-item > label {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: lato-regular, sans-serif;
    line-height: 17px;
    color: #ef5b70;
    text-transform: uppercase;
    border-left: 5px solid #ef5b70;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
}

.products-filter-group-menu-list-item input {
    display: none;
}

.products-filter-group-menu-list-item ul {
    display: none;
    padding: 24px 16px 6px 16px;
    list-style: none;
}

.products-filter-group-menu-list-item ul li:not(:last-child) {
    margin-bottom: 10px;
}

.products-filter-group-menu-list-item ul li label {
    font-family: lato-regular, sans-serif;
    font-weight: 400;
    line-height: 17px;
    color: #6f6e6e;
    cursor: pointer;
}

.products-filter-group-menu-list-item ul li input:checked + label {
    color: #ef5b70;
}

.products-filter-group-menu-list-item input:checked + ul {
    display: block;
}

.products-filter-group {
    position: relative;
    margin-right: 18px;
    border: none;
}

.products-filter-group-title {
    position: relative;
    display: flex;
    align-items: baseline;
    padding: 5px 10px;
    font-family: lato-regular, sans-serif;
    font-weight: 400;
    line-height: 17px;
    color: #6f6e6e;
    text-transform: uppercase;
}

.products-filter-group-title .fas {
    margin-left: 10px;
    font-size: 12px;
    color: #6f6e6e;
}

.products-filter-group-list {
    position: absolute;
    display: none;
    width: 78px;
    padding: 8px 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    list-style: none;
    z-index: 1;
}

.products-filter-group-title:hover + .products-filter-group-list,
.products-filter-group-list:hover {
    display: block;
}

.products-filter-group-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.products-filter-group-list-item label {
    flex-grow: 1;
    margin-left: 10px;
    font-family: roboto-regular, sans-serif;
    line-height: 16px;
    color: #6f6e6e;
    text-transform: uppercase;
}

/* products pagination */

.products-pagination {
    display: flex;
    justify-content: center;
}

.products-pagination-list {
    display: flex;
    align-items: center;
    padding: 12px 14px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    list-style: none;
}

.products-pagination-list-item {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    font-size: 16px;
    color: #c4c4c4;
}

.products-pagination-list-item.dots {
    letter-spacing: 1px;
}

.products-pagination-list-item:first-child,
.products-pagination-list-item.dots + .products-pagination-list-item,
.products-pagination-list-item.dots {
    margin-left: 0;
}

.products-pagination-list-item-link {
    display: flex;
    font-size: 16px;
    line-height: 19px;
    color: #c4c4c4;
    text-decoration: none;
}

.products-pagination-list-item-link:hover,
.products-pagination-list-item-link.active {
    color: #ef5b70;
}

.products-pagination-list-item-link:active {
    color: #c4c4c4;
}

.products-pagination-list-item-link.fas:hover {
    color: #000000;
}

.products-pagination-list-item-link.fas:active {
    color: #c4c4c4;
}

/* product */

.products.padding-products {
    padding: 128px 0;
}

.product-slider {
    position: relative;
    min-height: 777px;
}

.product-slider input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.product-slider-item {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.product-slider-item-prev,
.product-slider-item-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    transform: translateY(-50%);
    font-size: 30px;
    color: #000000;
    background-color: rgba(0, 0, 0, .15);
    cursor: pointer;
}

.product-slider-item-prev:hover,
.product-slider-item-next:hover {
    color: #f16d7f;
}

.product-slider-item-prev {
    left: 0;
}

.product-slider-item-next {
    right: 0;
}

.product-slider-control-1:checked ~ .product-slider-item-1,
.product-slider-control-2:checked ~ .product-slider-item-2,
.product-slider-control-3:checked ~ .product-slider-item-3 {
    z-index: 2;
}

.product-info {
    position: relative;
    width: 1140px;
    min-height: 600px;
    margin: -70px auto 0 auto;
    padding: 65px 250px;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    z-index: 10;
}

.product-info-title {
    margin-bottom: 28px;
    position: relative;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
    text-transform: uppercase;
}

.product-info-title:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 64px;
    height: 3px;
    background-color: #f16d7f;
}

.product-info-subtitle {
    margin-bottom: 48px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4d4d4d;
    text-transform: uppercase;
}

.product-info-description {
    margin-bottom: 32px;
    padding: 0 42px;
    line-height: 17px;
    color: #5e5e5e;
}

.product-info-price {
    display: block;
    margin-bottom: 65px;
    font-size: 24px;
    line-height: 29px;
    color: #ef5b70;
}

.products-filter.product {
    margin-bottom: 48px;
    padding: 65px 0 0 0;
    justify-content: center;
    border-top: 1px solid #eaeaea;
}

.product-info-btn-wrap {
    display: flex;
    justify-content: center;
}

.products-item-button.product {
    position: static;
    transform: none;
    width: 212px;
    padding: 12px 24px;
    font-size: 16px;
    color: #f26376;
    border: 1px solid #ff6A6a;
    opacity: 1;
    z-index: 0;
}

.products-item-button.product svg {
    margin-right: 22px;
    fill: #ef5b70;
}

.products-item-button.product:hover svg {
    fill: red;
}

.products-item-button.product:active {
    color: red;
}

/* cart */

.cart-title {
    padding: 60px 230px;
    background-color: #f8f3f4;
}

.cart-wrap {
    display: flex;
    justify-content: space-between;
    padding: 96px 230px 128px 230px;
}

.cart-list-wrap {
    display: flex;
    flex-direction: column;
    flex-basis: 652px;
}

.cart-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 72px;
    list-style: none;
}

.cart-list-item {
    display: flex;
    min-height: 306px;
    margin-bottom: 40px;
    box-shadow: 17px 19px 24px 0 rgba(0,0,0,.13);
}

.cart-list-item:last-child {
    margin-bottom: 0;
}

.cart-list-item-info {
    padding: 22px 0 0 32px;
}

.cart-list-item-btn {
    display: flex;
    margin: 28px 22px auto auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cart-list-item-btn:hover svg {
    fill: #ef5b70;
}

.cart-list-item-btn svg,
.cart-list-item-btn:active svg {
    fill: #575757;
}

.cart-list-item-info-title {
    max-width: 262px;
    margin-bottom: 42px;
    font-family: lato-regular, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    text-transform: uppercase;
}

.cart-sub-list {
    display: flex;
    flex-direction: column;
    font-family: lato-regular, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    list-style: none;
}

.cart-sub-list-item {
    display: flex;
    margin-bottom: 6px;
}

.cart-sub-list-item-price {
    color: #ef5b70;
}

.cart-sub-list-item-color,
.cart-sub-list-item-size {
    color: #6f6e6e;
}

.cart-sub-list-item-size {
    text-transform: uppercase;
}

.cart-sub-list-item-count {
    width: 44px;
    height: 24px;
    margin-left: 24px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.cart-list-btn-wrap {
    display: flex;
    justify-content: space-between;
}

.cart-list-btn {
    width: 235px;
    padding: 16px;
    border: 1px solid #a4a4a4;
    background-color: transparent;
    word-wrap: break-word;
    font-family: lato-light, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
}

.cart-list-btn:hover {
    background-color: #eaeaea;
}

.cart-list-btn:active {
    background-color: transparent;
}

.cart-form {
    flex-basis: 360px;
    padding: 20px 0 0 0;
}

.cart-form-address {
    margin-bottom: 60px;
    border: none;
}

.cart-form-address-title {
    margin-bottom: 20px;
    font-size: 16px;
    color: #222222;
    text-transform: uppercase;
}

.cart-form-address-input {
    width: 100%;
    height: 45px;
    margin: 0 0 20px 0;
    padding: 0 18px;
    box-sizing: border-box;
    border: 1px solid #a4a4a4;
    font-family: lato-light, sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
    text-transform: capitalize;
}

.cart-form-address-input::placeholder {
    color: #b1b1b1;
}

.cart-form-address-btn {
    width: 100px;
    min-height: 35px;
    padding: 8px 10px;
    font-size: 11px;
    color: #4a4a4a;
}

.cart-form-ordering {
    padding: 40px 34px;
    border: none;
    background-color: #f5f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-form-ordering-subtotal,
.cart-form-ordering-grandtotal {
    align-self: flex-end;
}

.cart-form-ordering-subtotal span,
.cart-form-ordering-grandtotal span {
    margin-left: 20px;
}

.cart-form-ordering-subtotal {
    margin: 0 0 12px 0;
    font-family: lato-regular, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #4a4a4a;
    text-transform: uppercase;
}

.cart-form-ordering-grandtotal {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #222222;
}

.cart-form-ordering-grandtotal span {
    font-family: lato-bold, sans-serif;
    color: #f16d7f;
}

.cart-form-ordering-btn {
    position: relative;
    width: 272px;
    min-height: 50px;
    padding: 15px;
    border: none;
    background-color: #f16d7f;
    font-family: lato-light, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.cart-form-ordering-btn:before {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
}

.cart-form-ordering-btn:hover {
    background-color: #f892a0;
}

.cart-form-ordering-btn:active {
    background-color: #f16d7f;
}

/* registration */

.registration-wrap {
    display: flex;
    justify-content: space-between;
    padding: 64px 230px 96px 230px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    flex-basis: 360px;
}

.registration-form-item {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    border: none;
}

.registration-form-item-title {
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.registration-form-item-input {
    height: 45px;
    margin-top: 20px;
    padding: 0 18px;
    border: 1px solid #a4a4a4;
    font-family: lato-light, sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
}

.registration-form-item-input::placeholder {
    font-family: lato-light, sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
}

.registration-form-item-gender {
    display: flex;
    align-items: center;
    margin: 32px 0;
    border: none;
}

.registration-form-item-gender-input {
    margin-right: 10px;
}

.registration-form-item-gender-label {
    margin-right: 20px;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.registration-form-item-txt {
    margin-top: 15px;
    font-size: 13px;
    line-height: 16px;
    color: #b1b1b1;
}

.registration-form-submit {
    display: flex;
    align-items: center;
    width: 168px;
    min-height: 50px;
    margin-top: 40px;
    padding: 10px 20px 10px 30px;
    border: none;
    background-color: #f16d7f;
    font-family: lato-regular, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
}

.registration-form-submit .registration-form-submit-icon {
    margin-left: 20px;
}

.registration-form-submit:hover {
    background-color: #f892a0;
}

.registration-form-submit:active {
    background-color: #f16d7f;
}

.loyalty {
    flex-basis: 652px;
    font-family: lato-light, sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.loyalty-title {
    margin-bottom: 22px;
    font-weight: 300;
    text-transform: uppercase;
}

.loyalty-txt {
    margin-bottom: 22px;
}

.loyalty-list {
    padding-left: 42px;
    list-style: none;
}

.loyalty-list-item {
    position: relative;
    margin-bottom: 16px;
}

.loyalty-list-item:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: -42px;
    transform: translateY(-50%);
    background: url("../img/check.svg") no-repeat 50%;
}