* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Lato Light";
    src: url("../fonts/lato/Lato-Light.woff2") format("woff2"),
    url("../fonts/lato/Lato-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato Regular";
    src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"),
    url("../fonts/lato/Lato-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato Bold";
    src: url("../fonts/lato/Lato-Bold.woff2") format("woff2"),
    url("../fonts/lato/Lato-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato Black";
    src: url("../fonts/lato/Lato-Black.woff2") format("woff2"),
    url("../fonts/lato/Lato-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: #e5e5e5;
    font-family: "Lato Regular", sans-serif;
    font-size: 14px;
}

.container {
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper {
    padding: 0 230px;
}

.header {
    position: relative;
    background-color: #222222;
}

.header .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-row .header-col {
    display: flex;
    align-items: center;
    padding: 18px 0;
    color: #ffffff;
}

.header .header-row .header-col .logo-link {
    margin-right: 40px;
    text-decoration: none;
}

.header .header-row .header-col .search-box {
    position: relative;
    display: flex;
    height: 35px;
    border-radius: 50px;
    overflow: hidden;
}

.header .header-row .header-col .search-box .search-box__input {
    padding: 0 40px 0 10px;
    width: 35px;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: #222222;
    transition: width .5s ease, background-color .4s ease-in;
}

.header .header-row .header-col .search-box .search-box__input:focus {
    width: 250px;
    background-color: #fff;
}

.header .header-row .header-col .search-box .search-box__label,
.header .header-row .header-col .search-box .search-box__btn {
    position: absolute;
    top: 50%;
    right: 8px;
    font-size: 26px;
    color: #e8e8e8;
    cursor: pointer;
    transform: translateY(-50%);
}

.header .header-row .header-col .search-box .search-box__btn {
    display: none;
    color: #222222;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    pointer-events: inherit;
}

.header .header-row .header-col .search-box .search-box__input:focus ~ .search-box__label {
    display: none;
}

.header .header-row .header-col .search-box .search-box__input:focus ~ .search-box__btn {
    display: block;
}

.header .header-row .header-col .burger-label {
    height: 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .header-row .header-col .burger-label,
.header .header-row .header-col .user {
    margin-right: 40px;
}

.header .header-row .header-col .burger-label .burger {
    position: relative;
    display: block;
    width: 32px;
    height: 2px;
    background: #e8e8e8;
}

.header .header-row .header-col .burger:before,
.header .header-row .header-col .burger:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 10px;
    background-color: #e8e8e8;
}

.header .header-row .header-col .burger:after {
    top: 10px;
}

.header .header-row .header-col .shopping-cart {
    position: relative;
}

.header .header-row .header-col .shopping-cart:after {
    content: attr(data-count);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #f16d7f;
    transform: translateX(50%) translateY(-50%);
}

.header .header-row .header-col .nav {
    display: block;
    width: 230px;
    min-height: 764px;
    padding: 16px 18px 16px 34px;
    position: absolute;
    top: 100%;
    left: 100%;
    background-color: #ffffff;
    transition: all .3s ease;
}
.header .header-row .header-col .nav .burger-close .fa-times {
    font-size: 12px;
    color: #6f6e6e;
    cursor: pointer;
}

.header .header-row .header-col .nav .burger-close .fa-times:hover {
    color: #f16d7f;
}

.header .header-row .header-col .nav .nav-title {
    margin-bottom: 24px;
    font-family: "Lato Bold", sans-serif;
    text-transform: uppercase;
    color: #000000;
}

.header .header-row .header-col .nav .nav-list {
    list-style-type: none;
    text-transform: uppercase;
    color: #f16d7f;
}

.header .header-row .header-col .nav .nav-list li > ul {
    margin: 24px 0;
    list-style-type: none;
    padding-left: 20px;
}

.header .header-row .header-col .nav .nav-list li > ul > li {
    margin: 10px 0;
}

.header .header-row .header-col .nav .nav-list li > ul > li > a {
    text-decoration: none;
    text-transform: capitalize;
    color: #6f6e6e;
}

.header .header-row .header-col .burger-check {
    display: none;
}

.header .header-row .header-col .burger-check:checked ~ .nav {
    transform: translateX(-100%);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}

.header .header-row .header-col .nav .burger-close {
    display: flex;
    justify-content: flex-end;
}

.promo {
    display: flex;
    align-items: center;
    background-color: #f1e4e6;
}

.promo .promo-text {
    margin-left: 60px;
    padding-left: 16px;
    font-family: "Lato Black", sans-serif;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    border-left: 12px solid #f16d7f;
}

.promo .promo-text .promo-text_small {
    font-family: "Lato Bold", sans-serif;
    display: block;
    font-size: 32px;
}

.promo .promo-text .promo-text_red {
    color: #f16d7f;
}

.offer {
    padding-top: 65px;
    background-color: #ffffff;
}

.offer .offer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer .offer__content .offer__item {
    display: flex;
    position: relative;
    margin-bottom: 30px;
}

.offer .offer__content .offer__item:before,
.offer .offer__content .offer__item:after {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background: rgba(33, 22, 22, 0.7);
}

.offer .offer__content .offer__item:before {
    content: attr(data-offer);
    padding-top: 105px;
    height: 50%;
    font-size: 16px;
    color: #ffffff;
}

.offer .offer__content .offer__item:after {
    content: attr(data-for);
    top: 50%;
    height: 50%;
    font-family: "Lato Bold", sans-serif;
    font-size: 28px;
    color: #f16d7f;
}

.offer .offer__content .offer__item:last-child:before {
    padding-top: 65px;
}

.featured {
    padding: 65px 0 110px 0;
    background-color: #ffffff;
}

.featured .featured-heading,
.featured .featured-text {
    text-align: center;
}

.featured .featured-heading {
    font-size: 40px;
    color: #222222;
}

.featured .featured-text {
    margin-bottom: 50px;
    color: #9f9f9f;
}

.featured .featured-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.featured .featured-list .featured-list__item {
    flex-basis: 360px;
    margin: 0 30px 30px 0;
    background-color: #f8f8f8;
}

.featured .featured-list .featured-list__item:nth-child(3n+3) {
    margin-right: 0;
}

.featured .featured-list .featured-list__item .featured-list__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.featured .featured-list .featured-list__item .featured-list__link .title,
.featured .featured-list .featured-list__item .featured-list__link .description,
.featured .featured-list .featured-list__item .featured-list__link .price {
    padding: 0 20px;
}

.featured .featured-list .featured-list__item .featured-list__link .title {
    margin: 25px 0 12px 0;
    font-size: 13px;
    text-transform: uppercase;
    color: #000000;
}

.featured .featured-list .featured-list__item .featured-list__link .description {
    margin-bottom: 18px;
    font-family: "Lato Light", sans-serif;
    color: #5d5d5d;
}

.featured .featured-list .featured-list__item .featured-list__link .price {
    margin-bottom: 20px;
    font-size: 16px;
    color: #f16d7f;
}

.featured .button {
    margin-top: 33px;
    text-align: center;
}

.featured .button .button-link {
    display: inline-flex;
    padding: 15px 40px;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    color: #f26376;
    border: 1px solid #ff6a6a;
}